@model GitHub.Core.ViewModels.GigsDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Model.Gig.Artist.Name
@if (User.Identity.IsAuthenticated)
{
    if (Model.IsFollowing)
    {
        <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Following</button>
    }
    else
    {
        <button class="btn btn-default js-toggle-follow"  data-user-id="@Model.Gig.ArtistId">Follow</button>
    }
}

<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm:ss tt zz")
</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <P>You are going to this event.</P>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            GigDetailsController.init();
        });
    </script>
}